
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #90CAF9;
    color: #012441;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
    overflow-x: hidden;
    overflow-y: hidden;
}


.fundo{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

    
.main{
   /* background-color: bisque;*/
    margin-top: -150px;
    height: 70vh;
    width: 70vw;  
    }

    
.title{
   /* background-color: aquamarine;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    font-style: regular;
    color: #012441;
}   

.conteiner{
    background-color: #9DA0FA;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.cards{

    height: 70%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    background-color: #84FAF0;
    /*box-shadow: 0px 0px 10px 0px #012441;*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}  

.texto {
    
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: regular;
    font-size: 20px;
    color: #012441;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(187, 187, 187);
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;   
}



.button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: regular;
    font-size: 20px;
    color: #012441;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(187, 187, 187);
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;
  }


.button:hover {
    background-color: yellow;
    color: green;
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 40px;

}


  
    
    










  


  /*CSS do Formulario de cadastro*/

.fundoo{
    display: flex;
    justify-content: center;
    align-content: center;
    

}

.base{
    background-color: #84FAF0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 70vw;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}



.esq{

    background-color:#3DB9F2 ;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.esq form {  
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-style: regular;
    font-size: 20px;
    color: #012441;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.tabela {
    border-collapse: collapse;
    border: 2px solid #000; /* Cor e largura da borda */
    background-color: #84FAF0;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  /* Centraliza o texto nas células */
  .tabela th,
  .tabela td {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: regular;
    font-size: 15px;
    color: #012441;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px; /* Espaçamento interno para melhorar a legibilidade */



  }

  .tabela tr{
    background-color: #3df25b;
    border: 1px solid #08002c; /* Adiciona uma borda de 1px preta sólida */
    color: #012441;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px; /* Espaçamento interno para melhorar a legibilidade */
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px #012441;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-bottom: 1px solid #08002c; /* Adiciona uma borda de 1px preta sólida */
  }

  .main2 {
    background-color: #3DB9F2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.5s;
  }

    .main2 form {  
    
        color: #ffffff;
    
        margin: 10px;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-style: regular;
        font-size: 20px;
        color: #012441;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

