
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #90CAF9;

}





.fundo{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
   /* background-color: bisque;*/
    margin-top: -150px;
    height: 70vh;
    width: 70vw;
    }

.title{
   /* background-color: aquamarine;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: xx-large;

}   

.conteiner{
    background-color: #9DA0FA;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: none;

}

.cards{

    height: 70%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.texto {
    
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: regular;
    font-size: xx-large;
}




.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #90CAF9;
    border: none;
    color: #012441;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  


  /*CSS do Formulario de cadastro*/

.fundoo{
    display: flex;

    justify-content: center;
    align-content: center;

}

.base{
    background-color: #84FAF0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 70vw;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
}



.esq{

    background-color:#3DB9F2 ;
    height: 100%;
    justify-content: center;
}

.esq form {  

    color: #ffffff;

    margin: 10px;

}


.tabela {
    border-collapse: collapse;
    border: 2px solid #000; /* Cor e largura da borda */
    background-color: #84FAF0;
  }
  
  /* Centraliza o texto nas células */
  .tabela th,
  .tabela td {
    text-align: center;
    padding: 8px; /* Espaçamento interno para melhorar a legibilidade */
  }

  .tabela tr{
    border-bottom: 1px solid #08002c; /* Adiciona uma linha sólida na parte inferior de todas as linhas, exceto na última */
  }

  .main2 {
    background-color: #3DB9F2;
    flex-direction: column;

  }